<!-- <div class="navbar">
    <h2>
        PoweRevolution Financial Services
    </h2>
</div> -->

<div>
    <div class="toggle-button-row" (click)="toggleSlideOut()">
      <mat-icon>menu</mat-icon>
    </div>
</div>


<div class="slide-out-panel" [class.slide-out]="isSlideOut">
    <div class="slide-out-content">
      <h3 class="nav">Finanacial Adviser services</h3>
      <p class="edit-col" (click)="onDash()">Dashboard</p>
      <p class="edit-col" (click)="onProfile()">Profile</p>
      <p class="edit-col" (click)="onProfile()">KYC status enquiery</p>
      <p class="edit-col" (click)="onProfile()">Digital KYC</p>
      <p class="edit-col" (click)="onProfile()">ITR filling</p>
      <p class="edit-col" (click)="onProfile()">Open Dmat Account</p>
      <p class="edit-col" (click)="onProfile()">Other Financial Services</p>
      <p class="edit-col" (click)="onProfile()">Will processing</p>
      <p class="edit-col" (click)="onProfile()">Knowladge Hub</p>
      <p class="edit-col" (click)="onProfile()">Refer & Earn</p>
      <p class="edit-col" (click)="onProfile()">Contact Us</p>
      <p class="edit-col" (click)="onProfile()">Support/donation</p>
      <!-- <p class="edit-col" (click)="onHistory()">Prev History</p>
      <p class="edit-col" (click)="onLogout()">Log Out</p> -->
    </div>
  </div>
  