<!-- <div class="navbar">
    <h2>
        PoweRevolution Financial Services
    </h2>
</div> -->

<div>
    <div class="toggle-button-row" (click)="toggleSlideOut()">
      <mat-icon>menu</mat-icon>
    </div>
</div>


<div class="slide-out-panel" [class.slide-out]="isSlideOut">
    <div class="slide-out-content">
      <h3 class="nav">Finanacial Adviser services</h3>
      <p class="edit-col" (click)="onDash()">Dashboard</p>
      <p class="edit-col" (click)="onProfile()">Profile</p>
      <p class="edit-col"><a href="https://www.cvlkra.com/" target="_blank" rel="noopener noreferrer">KYC Enquiery Status</a></p>
      <p class="edit-col"><a href="https://mycams.camsonline.com/FreshPurchase/MCFreshPurchase?0ayU8DerqG8GbCggVICnLC8o7bAEBAsuK3HjmNCb9HQ=" target="_blank" rel="noopener noreferrer">DIGITAL KYC</a></p>
      <p class="edit-col" (click)="onProfile()">ITR filling</p>
      <p class="edit-col"><a href="https://www.5paisa.com/demat-account?ReturnUrl=invest-open-account&ReferralCode=50159007" target="_blank" rel="noopener noreferrer">Open Demat Account</a></p>
      <p class="edit-col" (click)="onProfile()">Other Financial Services</p>
      <p class="edit-col" (click)="onProfile()">Will processing</p>
      <p class="edit-col"><a href="https://www.youtube.com/channel/UCcmOqzwCVMK-elM5vOjd8bQ" target="_blank" rel="noopener noreferrer">Knowladge Hub</a></p>
      <p class="edit-col" (click)="onProfile()">Refer & Earn</p>
      <p class="edit-col"><a href="https://mayappababanedake.mutualfundpartner.com/?camp_id=VFdwTk0wNVVXWGM9&content=Social&channel_type=linkedin&pid=VFZSbk1VMUVWVDA9" target="_blank" rel="noopener noreferrer">Contact Us</a></p>
      <p class="edit-col" (click)="onProfile()">Support/donation</p>
      <!-- <p class="edit-col" (click)="onHistory()">Prev History</p>
      <p class="edit-col" (click)="onLogout()">Log Out</p> -->
    </div>
  </div>
  