<h2 mat-dialog-title>insurance Details</h2>
<div mat-dialog-content>
  <form #insuranceForm="ngForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
      <mat-label>Cover Amount</mat-label>
      <input matInput placeholder="Cover Amount" name="coverAmount" [(ngModel)]="formData.coverAmount" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Insured Date</mat-label>
      <input matInput placeholder="Insured Date" name="insuredDate" [(ngModel)]="formData.insuredDate" type="date" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Premium Amount</mat-label>
      <input matInput placeholder="Premium Amount" name="premiumAmount" [(ngModel)]="formData.premiumAmount" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Premium Date</mat-label>
      <input matInput placeholder="Premium Date" name="premiumDate" [(ngModel)]="formData.premiumDate" type="date" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Premium Paying Type</mat-label>
      <mat-select placeholder="Premium Paying Type" name="premiumPayingType" [(ngModel)]="formData.premiumPayingType" required>/matInput>
      <!-- <mat-select [(ngModel)]=""> -->
      <mat-option value="Monthly">Monthly</mat-option>
      <mat-option value="Quarterly">Quarterly</mat-option>
      <mat-option value="Yearly">Yearly</mat-option>
      <mat-option value="One Time pay">One Time pay</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
      <mat-label>Premium Paying Type</mat-label>
      <input matInput placeholder="Premium Paying Type" name="premiumPayingType" [(ngModel)]="formData.debtInvestment" type="number" required>
    </mat-form-field> -->
    <mat-form-field appearance="outline">
        <mat-label>Maturity Date</mat-label>
        <input matInput placeholder="Maturity Date" name="maturityDate" [(ngModel)]="formData.maturityDate" type="date" required>
      </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Maturity Amount</mat-label>
      <input matInput placeholder="Maturity Amount" name="maturityAmount" [(ngModel)]="formData.maturityAmount" type="number">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Annual Rate of Return In %</mat-label>
      <input matInput placeholder="Annual Rate of Return In %" name="annualRateOfReturn" [(ngModel)]="formData.annualRateOfReturn" type="number">
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
      <mat-label>Investment as Savings</mat-label>
      <input matInput placeholder="Investment as Savings" name="savingsInvestment" [(ngModel)]="formData.savingsInvestment" type="number" required>
    </mat-form-field> -->
  </form>
  maturity amount:{{formData.maturityAmount}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="submitForm()" [disabled]="insuranceForm.invalid">Submit</button>
</div>

