<!-- <app-side-nav></app-side-nav> -->
<div id="sample">
    <div class="analytics">
      <h3>Chart | Balance</h3>
      <div>
        <canvas id="myChart"></canvas>
      </div>
      <div>
         <h3>Total Balance in Rs.:</h3> {{totalBalance}}
         <h3>Netwroth in Rs.: </h3>{{totalInitialInvestment- totalLoanAmount}}
      </div>
    </div>
    <!-- <div class=" scoreMeter experian">
      <div class="experian meterArrow score-216 excellent" data-deg="216deg">

      </div>
      <div class="meterScore">
        <div class="score">9/10

        </div>
        <div class="scoreBand excellent">

          excellent


        </div>
        <div>
          <h3>FFS </h3>
        </div>
      </div> -->
    <!-- fitness score meter html -->

    <div class="scoreMeter experian">
      <div class="meterArrow" data-score="0"></div>
      <div class="meterScore">
        <div class="score">0/10</div>

      </div>
      
    </div>
    
  </div>