<div fxLayout="row" fxLayoutAlign="start center" class="investment-container">
    <div fxFlex="100%" fxFlex.gt-sm="50%" class="investment-details">
      <!-- <h2>Investment Details</h2>
      <ul>
        <li>Emergency Fund: {{ emergencyFund | currency:'INR' }}</li>
        <li>Real Estate Value: {{ realEstateValue | currency:'INR' }}</li>
        <li>Monthly SIP: {{ monthlySIP | currency:'INR' }}</li>
        <li>Debt Investment: {{ debtInvestment | currency:'INR' }}</li>
        <li>Equity Investment: {{ equityInvestment | currency:'INR' }}</li>
        <li>Gold/Bond Investment: {{ goldBondInvestment | currency:'INR' }}</li>
        <li>Investment as Savings: {{ savingsInvestment | currency:'INR' }}</li>
      </ul>
    </div> -->
    <!-- <button mat-raised-button (click)="openInvestmentDialog()" class="edit-button">Edit</button> -->
  </div>
  
  <div class="investment">
    <h3>{{ heading }}</h3>
    <div id="smallCardContainer" class="small-card-container">
      <!-- Displaying small cards dynamically -->
      <div *ngFor="let smallCard of smallCards" class="small-card" (click)="openInvestmentDialog(smallCard.id)">
      <!-- <div *ngFor="let smallCard of smallCards; let i = index" class="small-card" (click)="cardClickHandler(smallCard.textRows[2])"> -->
        <div class="text-row">{{ smallCard.textRows[0] }}</div>
        <div class="text-row">{{ smallCard.textRows[1] }}</div>
        <div class="text-row">{{ smallCard.textRows[2] }}</div>
        <div class="text-row">{{ smallCard.textRows[3] }}</div>
        <div class="text-row">{{ smallCard.textRows[4] }}</div>
        <div class="text-row">{{ smallCard.textRows[5] }}</div>
        <div class="text-row">{{ smallCard.textRows[6] }}</div>
        <div class="text-row">{{ smallCard.textRows[7] }}</div>
        <div class="text-row">{{ smallCard.textRows[8] }}</div>
        <div class="text-row">{{ smallCard.textRows[9] }}</div>
      </div>
    </div>
    <div class="add-button" (click)="addSmallCard()">+</div>
    <p>Total Initial Investment: {{ totalInitialInvestment }}</p>

  </div>
  