<div fxLayout="row" fxLayoutAlign="start center" class="investment-container">
    <div fxFlex="100%" fxFlex.gt-sm="50%" class="investment-details"></div>
  
    <div class="insurance">
      <h3>{{ heading }}</h3>
      <div id="smallCardContainer" class="small-card-container">
        <div *ngFor="let smallCard of smallCards" class="small-card" (click)="openLoanDialog(smallCard.id)">
          <div class="text-row">{{ smallCard.textRows[0] }}</div>
          <div class="text-row">{{ smallCard.textRows[1] }}</div>
          <div class="text-row">{{ smallCard.textRows[2] }}</div>
          <div class="text-row">{{ smallCard.textRows[3] }}</div>
          <div class="text-row">{{ smallCard.textRows[4] }}</div>
          <div class="text-row">{{ smallCard.textRows[5] }}</div>
          <div class="text-row">{{ smallCard.textRows[6] }}</div>
          <div class="text-row">{{ smallCard.textRows[7] }}</div>
        </div>
      </div>
      <div class="add-button" (click)="addSmallCard()">+</div>
      <p>Total Loan Amount: {{ totalLoanAmount }}</p>
    </div>
  </div>
  